<div>

<h1>All our events in Berlin 🎛 :</h1>

</div>




<div>
<section class="events-list">
{{#each eventsArr}}
  <h2>{{this.title}} {{this.location}}</h2>
  <p>
    {{this.dateAndTime}} <br />
    {{this.category}} <br />
   
  </p>
   <a href="/events/{{this._id}}">More details</a>

{{/each}}
</section>

</div>


<div>
<a href="/events/create">Add Event</a>

</div>
