<section class="event-details">
    <h2>{{eventDetails.title}}</h2>
    <p>

        location: {{eventDetails.location}} <br />
        {{eventDetails.dateAndTime}} <br />
        category: {{eventDetails.category}} <br />

    </p>
    <p>
        <strong>Description:</strong>
        {{eventDetails.description}}
    </p>

    <form action="/events/{{eventDetails._id}}/edit" method="GET">
        <button type="submit">Edit</button>
    </form>

    <form action="/events/{{eventDetails._id}}/delete" method="post">
        <button>Delete</button>
    </form>



</section>

<a href="/events">Back</a>
