<h1>All our events</h1>

{{#each eventsArr}}
<section class="events-list">
  <h2>{{this.title}} {{this.location}}</h2>
  <p>
    {{this.dateAndTime}} <br />
    {{this.category}} <br />
    <a href="/events-details/{{this._id}}">More details</a> |
    {{!-- <a href="/events/{{this._id}}/edit">Edit</a> | --}}
  </p>
  <form action="/events/{{this._id}}/delete" method="POST">
    <button>Delete</button>
  </form>
</section>
{{/each}}
