<div>

<h1>All our events in Berlin 🎛 :</h1>

</div>
<div class="event-create">
<a href="/events/create">Add Event</a>

</div>

<div class="container text-center">
  <div class="row">
    {{#each eventsArr}}
    <div class="col-3">
      <div class="card " style="width: 18rem;">
        <div class="card-body">
          <h2 class="card-title">{{this.title}} </h2>
          <h6 class="card-subtitle mb-2 text-muted">{{this.location}}</h6>
          <p class="card-text">{{this.dateAndTime}} <br />
            {{this.category}} <br /></p>
          <a href="/events/{{this._id}}">More details</a>
        </div>
      </div>

    </div>
    {{/each}}
  </div>
</div>