<section class="event-details">
    <h2>{{title}}</h2>
    <p>
        Event: {{event.title}} <br />
        location: {{event.location}} <br />
        dateAndTime: {{event.dateAndTime}} <br />
        category: {{event.category}} <br />
        
    </p>
    <p>
        <strong>Description:</strong>
        {{event.description}}
    </p>
</section>

<a href="/events">Back</a> 